# Ignore node_modules directory
node_modules/

# Ignore environment variables and secrets
backend/.env
.env

# Ignore macOS system files
.DS_Store

# Local dev only
frontend/js/config.local.js

# Personal files
backend/src/utils/Finals\ transcript.json
